<!DOCTYPE html>
<html ng-app="myapp">
	<head>
	<meta charset="utf8">
		<title>Pruebas con AngularJS</title>
		<script src="angular-1.3.15/angular.min.js"></script>
		<!--script src="controller.js"></script-->
		<script src="controllerhttp.js"></script>
	</head>

	<body ng-controller="controllerhttp">


	<!-- div>
		
		<h3>comentario :</h3>
		<input type="text" ng-model="nuevocomentario.comentario"> <strong>{{nombre}}</strong>
		
		<h3>Usuario :</h3>
		<input type="text" ng-model="nuevocomentario.username"> 
		<button ng-click="agregarcomentario()">Agregar comentario</button>
	</div>
			<h3>Comentarios</h3>
			<ul>
				<li ng-repeat="comentario in comentarios">
				{{comentario.comentario}} - <strong>{{comentario.username}}</strong>
				</li>
				
			</ul>
			-->
	</body>
</html>