<!DOCTYPE html>	
<html ng-app="todolist">
<head>
	<meta charset="utf8">
	<title>My ToDoList</title>
	<script src="../angular-1.3.15/angular.min.js"></script>
		<script src="controller.js"></script>
		<script src="angular-local-storage.min.js"></script>
</head>
<body ng-controller="todocontroller">
<ul>
	<li ng-repeat="actividad in todo">
		{{actividad.descripcion}} -
		{{actividad.fecha | date: 'short'}}
	</li>
</ul>
<form ng-submit="addActv()"	>
	<input type="text" ng-model="newActv.descripcion">
	<input type="datetime-local" ng-model="newActv.fecha">
	<input type="submit" value="Guardar Actividad">
</form>
<button ng-click="clean()">Borrar lista</button>
	
</body>
</html>